{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Board Gamer</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
      <div>
          <a href="/" class="logo">Board Gamer</a>
      </div>
        <div class="right">
          <a href="/games/">View All Board Games</a>
          <a href="/games/search/">Find A Game</a>
          {% if user.is_authenticated %}
          <a href="/games/user/">View My Games</a>
          <a href="/create/">Add Game</a>
          <a href="#">My Wishlist</a>
          <a href="{% url 'logout' %}">Log Out</a>
          {% else %}
          <a href="{% url 'login' %}">Log In</a>
          <a href="{% url 'signup' %}">Sign Up</a>
          {% endif %}
        </div>
        <div class="menu">
          <p>Menu</p>
        </div>
    </nav>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <script>
    const menu = document.querySelector('.menu');
    const nav = document.querySelector('.right');

    burger.addEventListener('click', function() {
    nav.classList.toggle('nav-show');
    });
  </script>
</body>
</html>