{% extends 'base.html' %}
{% block content %}

<div class="landing">

<div class="landing-info">
<h1>What's your next adventure?</h1>
<p>Browse or search for popular board games and leave reviews. 
<br />
    Don't see the game you're looking for? 
    Help the community by adding it!
    <br />
    <br />
    Or Search for games to add to your wishlist.</p>
<div class="landing-btn">
    <button><a href="/games/">View Board Games</a></button>
</div>
</div>
<div class="landing-photo">
    <img src="https://i.imgur.com/B2bpcWJ.jpg">
</div>

</div>


{% endblock %}