@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

main {
  font-family: "Monserrat", sans-serif;
  min-height: 92vh;
  width: 100%;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
  color: black;
}

/* NAV */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  overflow-x: hidden;
  background-color: rgb(11, 107, 145);
}

.right {
  display: flex;
  justify-content: space-between;
  width: 43%;
  overflow-x: hidden;
  margin-right: 30px;
}

.right a {
  text-decoration: none;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.logo {
  font-size: 28px;
  font-weight: lighter;
  letter-spacing: 2px;
  font-family: "Pacifico", sans-serif;
  text-decoration: none;
  color: white;
  margin-left: 30px;
  font-family: "Kalam", serif;
  font-weight: 700;
}

.menu {
  display: none;
}

/* HOME PAGE */

.landing {
  min-height: 92vh;
  width: 100%;
  display: flex;
}

.landing-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing-info h1 {
  font-size: 60px;
  margin: 60px 30px;
}

.landing-info p {
  margin: 0px 30px;
  font-size: 20px;
}

.landing-btn {
  width: 100%;
  margin: 80px 0px;
  display: flex;
  justify-content: center;
}

.landing-btn button {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(240, 142, 104);
  outline: none;
  border: none;
  font-weight: 700;
  padding: 10px;
  border-radius: 5px;
}

.landing-btn a {
  text-decoration: none;
  color: white;
}

.landing-photo {
  width: 50%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-photo img {
  object-fit: cover;
  width: 90%;
  height: 700px;
  border-radius: 30px;
}

/* FORMS */

.form-area {
  resize: none;
}

.form-btn {
  cursor: pointer;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(240, 142, 104);
  outline: none;
  border: none;
  font-weight: 700;
  padding: 10px;
  border-radius: 5px;
}

.edit-btn {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: rgb(41, 198, 226);
}

.delete-btn {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: rgb(233, 40, 82);
}

.edit-btn a,
.delete-btn a {
  text-decoration: none;
  color: white;
}

/* CLUSTERED STYLINGS */

.container {
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
}

.list {
  width: 80%;
  margin-bottom: 80px;
}

.card {
  margin: 60px 0px;
}

.card h2 {
  font-size: 24px;
  letter-spacing: 2px;
  margin: 10px 0px;
}

.card p {
  font-size: 18px;
  margin: 5px 0px;
}

.card button {
  margin: 20px;
}

/* OTHER */

.nav-show {
  transform: translateX(0%);
  display: inherit;
}
