@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

main {
  font-family: "Monserrat", sans-serif;
  min-height: 92vh;
  width: 100%;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
  color: black;
}

/* NAV */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  overflow-x: hidden;
  background-color: rgb(11, 107, 145);
}

.right {
  display: flex;
  justify-content: space-between;
  width: 43%;
  overflow-x: hidden;
  margin-right: 30px;
}

.right a {
  text-decoration: none;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.logo {
  font-size: 28px;
  font-weight: lighter;
  letter-spacing: 2px;
  text-decoration: none;
  color: white;
  margin-left: 30px;
  font-family: "Kalam", serif;
  font-weight: 700;
}

.menu {
  display: none;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 20px;
  margin-right: 30px;
}

/* HOME PAGE */

.landing {
  min-height: 92vh;
  width: 100%;
  display: flex;
}

.landing-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing-info h1 {
  font-size: 60px;
  margin: 60px 30px;
}

.landing-info p {
  margin: 0px 30px;
  font-size: 20px;
}

.landing-btn {
  width: 100%;
  margin: 80px 0px;
  display: flex;
  justify-content: center;
}

.landing-btn button {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(240, 142, 104);
  outline: none;
  border: none;
  font-weight: 700;
  padding: 10px;
  border-radius: 5px;
}

.landing-btn a {
  text-decoration: none;
  color: white;
}

.landing-photo {
  width: 50%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-photo img {
  object-fit: cover;
  width: 90%;
  height: 700px;
  border-radius: 30px;
}

/* FORMS */

.form-area {
  resize: none;
}

.form-btn {
  cursor: pointer;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(240, 142, 104);
  outline: none;
  border: none;
  font-weight: 700;
  padding: 10px;
  border-radius: 5px;
}

.edit-btn {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: rgb(41, 198, 226);
}

.delete-btn {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: rgb(233, 40, 82);
}

.edit-btn a,
.delete-btn a {
  text-decoration: none;
  color: white;
}

.forms form {
  display: flex;
  flex-direction: column;
}

.forms form input {
  margin: 5px 0px;
  padding: 5px 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.forms form textarea {
  margin: 5px 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.num {
  padding: 10px;
}

.btn-div {
  display: flex;
  justify-content: center;
}

.btn-div button {
  margin: 20px 0px;
}

/* CLUSTERED STYLINGS */

.container {
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: 100%;
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
}

.list {
  width: 80%;
  margin-bottom: 80px;
}

.my-list {
  display: flex;
  flex-wrap: wrap;
}

.my-list .card {
  margin: 60px 80px;
}

.card {
  margin: 60px 0px;
}

.card h2 {
  font-size: 24px;
  letter-spacing: 2px;
  margin: 10px 0px;
}

.card p {
  font-size: 18px;
  margin: 5px 0px;
}

.card button {
  margin: 20px 0px;
}

.detail-contain {
  width: 80%;
}

.reviews {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-card {
  margin: 40px 0px;
  font-size: 18px;
  width: 50%;
  text-align: center;
}

.review-card span {
  font-weight: 600;
  letter-spacing: 2px;
}

/* SEARCH */

.search-contain {
  min-height: 92vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.search-box input {
  padding: 10px;
  border-radius: 5px;
}

.oops h3 {
  font-size: 24px;
}

.oops button {
  margin: 20px 0px;
}

.results {
  width: 80%;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1550px) {
  .right {
    width: 55%;
  }
}

@media screen and (max-width: 1280px) {
  .right {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform: translateX(100%);
    transition: transform 0.4s ease-in;
    z-index: 10;
    display: none;
    background-color: rgb(11, 107, 145);
  }
  .menu {
    display: block;
    cursor: pointer;
  }
}

@media screen and (max-width: 800px) {
  .landing {
    flex-direction: column-reverse;
  }
  .landing-info {
    width: 100%;
  }
  .landing-photo {
    width: 100%;
  }
  .landing-photo img {
    object-fit: cover;
    width: 90%;
    height: 400px;
    margin: 80px 0px;
  }
  .title h1 {
    margin: 50px 20px;
    text-align: center;
  }
  .detail-contain {
    margin: 80px 0px;
    width: 60%;
  }
}

/* OTHER */

.nav-show {
  transform: translateX(10%);
  display: inherit;
}
