{% extends 'base.html' %}
{% block content %}

<div class="container">

    <div class="title">
    <h1>Edit Game</h1>
    </div> 

<div class="forms">
    
<form method="POST" action="/games/{{ game.id }}/update/">
    {% csrf_token %}
    Name: <input name="name" value="{{ game.name }}">
    Publisher: <input name="publisher" value="{{ game.publisher }}">
    Players: <input type="number" name="players" value="{{ game.players }}">
    Description: <textarea name="description" class="form-area" rows="15" cols="33" maxlength="500">{{ game.description }}</textarea>
    <div class="btn-div">
    <button class="form-btn">Submit</button>
    </div>
</form>

</div>
</div>
{% endblock %}