{% extends 'base.html' %}
{% block content %}

<div class="container">

  <div class="title">
  <h1>All Board Games</h1>
  </div> 

  <div class="list">
{% for game in games %}
  <div class="card">
    <a href="/games/{{ game.id }}/">
      <span class="card-title">{{ game.name }}</span>
      <p>Publisher: {{ game.publisher }}</p>
      <p>Players: {{ game.players }}</p>
      <p>Description: {{ game.description }}</p>
    </a>
    <form action="/wishlist/add/" method="post">
      {% csrf_token %}
      <input name="name" value="{{ game.name }}" class="hidden">
      <input name="publisher" value="{{ game.publisher }}" class="hidden">
      <input type="number" name="players" value="{{ game.players }}" class="hidden">
      <textarea name="description" class="hidden">{{ game.description }}</textarea>
      <button class="form-btn">Add to Wishlist</button>
  </form>
  </div>
{% endfor %}

</div>

</div>

{% endblock %}